html {
  background: #100a1c;
  background-image: radial-gradient(
      50% 30% ellipse at center top,
      #201e40 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    radial-gradient(60% 50% ellipse at center bottom, #261226 0%, #100a1c 100%);
  background-attachment: fixed;
  color: #6cacc5;
}

body {
  color: #6cacc5;
  font: 300 18px/1.6 "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 5em 0 2em;
  text-align: center;
}

h1 {
  font-weight: 300;
  margin: 0;
}

/* Gradient text only on Webkit */

.calculator {
  font-size: 28px;
  margin: 0 auto;
  width: 30em;
}

calculator::before, calculator::after {
    content: " ";
    display: table;
}

calculator::after {
  clear: both;
}
 
.form_send-result{
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap: 5px;
}

.number_for-x, .number_for-y, .submit{
  border-radius: 25px;
  padding: 15px;
  background-color: transparent;
  border-color: #6cacc5;
  color: #6cacc5;
  font-weight: bold;
  font-size: 25px;
}

.table-container{
  text-align: center;
}

td{
  border: 1px solid #6cacc5;
  padding: 10px;
  text-align: center;
}

.company-info {
  position: absolute; /* Use absolute positioning */
  bottom: 0; /* Stick to the bottom */
  left: 0; /* Align to the left */
  right: 0; /* Align to the right */
  height: 50px; /* Set a fixed height for the footer */
  text-align: center; /* Center text */
  line-height: 50px; /* Center text vertically */
  font-size: 13px;
}


@media screen and (max-width: 840px){
  .calculator {
    width: auto;
  }
}